@charset "UTF-8";

/* CSS Document */

/* background color palette
#EE0D0D   rgba(238,13,13,50)		red
#FFD282   rgba(255,210,130,100)		orange
#E3EA3E	  rgba(227,234,62,60)		yellow
#D8EBB1	  rgba(216,235,117,100)		green
#64D8C2	  rgba(100,216,194,50)		blue
#6049BD	  rgba(96,73,189,50)		purple
*/

body {
	margin: 0px;
	padding: 0px;
	border-left: solid 5px black;
	border-right: solid 5px black;
	font-family: AppleGothic, sans-serif;
	font-size: 0.8em;
}

/************* background, height, borders ******************/

header, aside, #education, #cca, #jobs, footer {
	border-top: solid 3px black;
	overflow: auto;
}

header {
	height: 150px;
	background-color: rgba(238,13,13,0.5);
	/* opacity: 0.5; */
}

li {
	list-style: none; /* reset to have no bullet points */
	margin: 0px;
}

ul { /* reset the styles of all uls */
	margin-left: 0px;
	padding-left: 0px;
	display: inline;
 }

header li {
	margin-left: 0px;
	padding: 3px 15px;
	border-left: 3px solid #000;
	list-style: none;
	display: inline;
 }

header li:first-of-type {
	margin-left: 0px;
	border-left: none;
	list-style: none;
	display: inline;
 }

aside {
	height: 150px;
	background-color: rgba(255,210,130,100);
}

#education {
	height: 600px;
	background-color: rgba(227,234,62,0.6);
}

#cca {
	height: 650px;
	background-color: rgba(216,235,117,0.9);
}

#jobs {
	height: 500px;
	background-color: rgba(100,216,194,0.5);
}

footer {
	height: 350px;
	background-color: rgba(96,73,189,0.5);
}

footer div { /* for HORIZONTAL scrolling */
	width: 10000px;
}

footer section {
	width: 440px;
	float: left;
	display: inline;
	padding: 20px;
}

dd {
	margin: 0px; /* remove default dlist margins */
}

dl {
	width: 10000px; /* for HORIZONTAL scrolling */
}

main div { /* main divs */
	width: 445px;
	float: left;
	display: inline;
	padding: 20px;
}

dl div {
	height: 550px;
	border: 2px solid black;
	margin: 10px;
}


#jobs dl div {
	height: 400px;
}

#education dl div {
	height: 500px;
}

#jobs .backToTop, #education .backToTop, #cca .backToTop {
	border: none;
	margin: 0px;
	width: 150px;
	height: 100px;
}

#jobs .backToTop {
	padding-top: 200px;
}

#education .backToTop {
	padding-top: 250px;
}

#cca .backToTop {
	padding-top: 275px;
}

#credits {
	padding-bottom: 0px;
	width: 1400px;
}

/*********************** text customisations ***********************/

header h1 {
	font-family: 'Exo', sans-serif;
	font-size: 3em;
	letter-spacing: 2px;
}

header nav {
	font-size: 1.2em;
	letter-spacing: 1px;
	font-weight: bold;
}

a:hover {
	color: rgba(216,235,117,0.9);
}

header a {
 	color: white;
 	text-transform: uppercase;
 }

h2, h4 {
 	font-family: 'Lobster', cursive;
 	font-size: 2em;
 }

aside p {
 	font-size: 1.2em;
 	font-weight: bolder;
}

h3 {
	font-family: 'Arvo', serif;
}

.backToTop a {
	font-family: 'Lobster', cursive;
 	font-size: 2em;
	color: black;
}

.backToTop a:hover {
	color: grey;
}

#credits {
	font-size: 0.5em;
}

/************ text and image sizing/alignments ***********/

header, #objective {
	text-align: center;
	line-height: 200%;
	margin: 0px;
	padding: 0px;
}

header h1 {
	margin-top: 35px;
}

header nav {
	margin-top: 35px;
}

aside h2 {
	margin-top: 30px;
}
aside p {
	padding: 8px;
}

 #education h2, #cca h2, #jobs h2 {
 	text-align: center;
}

#jobs .backToTop, #education .backToTop, #cca .backToTop {
	text-align: center;
}

 /* align all section img to horizontal center */
 section img {
 	display: block;
 	margin-left: auto;
 	margin-right: auto;
 }

.middle img {
	width:100px;
	height:100px;
 }

/* vertical alignment for heading divs */
.middle {
	width: 250px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#education dl img {
	width:120px;
	height:120px;
}

#cca dl img {
	width: 442px;
	height:270px;
	border: 2px solid black;
}

#jobs dl img {
	width:442px;
	height:150px;
	border: 2px solid black;
}

footer img {
	width:50px;
	height:50px;
}

dd {
	margin-bottom: 20px;
}

h3 {
	height: 60px;
	text-align: center;
	padding-top: 10px;
}

footer section {
	margin: 0px;
	text-align: center;
}

footer li, footer p {
	margin-top: 0px;
	margin-bottom: 10px;
}

footer h2, footer h4 {
	margin: 0px;
	height: 60px;
	padding-top: 10px;
}
